.container{
display: flex;
align-items: center;
align-items: center;
}

.text{
    margin-bottom: 10px;
    padding: 10px;
    border: 1-x solid #ccc;
    width: 300px;
    outline: none;

}
.createButtom{
    background-color: white;
    padding: 15px 32px;
    color: black;
    border: 2px solid #04AA6D;
    cursor: pointer;
    text-align: center;
    transition: backgrouund-color 0.3s ease;
}




.titulo {
    background-color: #420000;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    width: 90%;
}

